.column-1{

  display: inline-block;
  width: 49%;
  height: 1100px;
  vertical-align: top;
}

.column-2{

  display: inline-block;
  width: 49%;
  height: 1100px;
}

h1 {
  color: blue;
  text-decoration: underline;
  text-align: center;
}

footer {
  text-align: center;
 }