<!DOCTYPE html>
<html>
<head>
  <title>Delete Student</title>
</head>
<body>
  <form action="/students/delete" method="POST">
    <input type="text" name="name" placeholder="Student to delete">
    <button type="submit">Save</button>
  </form>
</body>
</html>